// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/accessible-autocomplete';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
/// 

.aa-input-container {
    input {
        background-color: white;
    }
}

.size-small-text td {
    font-size: 15px;
}

.size-small-text a {
    font-size: 15px;
    margin: 0px;
}

.size-small-text th {
    font-size: 15px;
}

.inline-form {
    display: inline-block;
    margin-right: 24px;
}

.inline-btn {
    display: inline-block;
    margin-right: 24px;
}