<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Invoices
      </h1>
      
  <div class="nhsuk-action-link">
    <a class="nhsuk-action-link__link" href="/invoices/unpaid">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Unpaid invoices</span>
    </a>
  </div>

  <div class="nhsuk-action-link">
    <a class="nhsuk-action-link__link" href="*">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Paid invoices</span>
    </a>
  </div>

{% endblock %}

{% block pageScripts %}

<script>

    const trustList = [
      "Barts Health NHS Trust",
      "Example NHS Foundation Trust",
      "Oxleas NHS Foundation Trust",
      "Guy's and St Thomas' NHS Foundation Trust",
      "University College London Hospitals NHS Foundation Trust",
      "Imperial College Healthcare NHS Trust",
      "Manchester University NHS Foundation Trust",
      "King's College Hospital NHS Foundation Trust",
      "Leeds Teaching Hospitals NHS Trust",
      "Oxford University Hospitals NHS Foundation Trust",
      "Sheffield Teaching Hospitals NHS Foundation Trust",
      "Nottingham University Hospitals NHS Trust",
      "Cambridge University Hospitals NHS Foundation Trust",
      "Newcastle upon Tyne Hospitals NHS Foundation Trust",
      "Birmingham Women's and Children's NHS Foundation Trust",
      "Royal Free London NHS Foundation Trust",
      "Great Ormond Street Hospital for Children NHS Foundation Trust",
      "East Suffolk and North Essex NHS Foundation Trust",
      "Mid and South Essex NHS Foundation Trust",
      "Northumbria Healthcare NHS Foundation Trust",
      "Frimley Health NHS Foundation Trust",
      "University Hospitals Bristol and Weston NHS Foundation Trust",
      "Liverpool University Hospitals NHS Foundation Trust",
      "Shrewsbury and Telford Hospital NHS Trust",
      "Portsmouth Hospitals University NHS Trust",
      "North Tees and Hartlepool NHS Foundation Trust",
      "Gloucestershire Hospitals NHS Foundation Trust"
    ];


    accessibleAutocomplete({
      element: document.querySelector('#trust-autocomplete-container'),
      id: 'trust-autocomplete',
      name: 'trust',
      source: trustList,
      minLength: 1,
      autoselect: true,
      confirmOnBlur: false,
      displayMenu: 'overlay'
    });
</script>

{% endblock %}
