<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/invoices">Manage invoices</a></li>
    <li class="nhsuk-breadcrumb__item">Unpaid invoices</li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Manage invoices
    </a>
  </p>
</nav>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Unpaid invoices
      </h1>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Help with this page
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This page displays the invoices which have yet to be paid. </p>
          <p>New invoices are added to this page automatically when they're uploaded to [System TBD].</p>
          <p>Click on the Invoice ID for a given invoice to view and manage that invoice's charges.</p>
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Apply filters to this table
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-s">Filter by</h2>
            <!-- Trust filter -->
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="trust-name">Trust</label>
              <div id="trust-autocomplete-container" class="aa-input-container"></div>
              <input type="hidden" name="trust-name" id="trust-autocomplete">
            </div>
          <div class="float-filter-container">

           <!--Invoice ID filter-->
          <div class="nhsuk-form-group">
           <label class="nhsuk-label" for="invoice-id">Invoice ID</label>
            <div id="invoice-id-autocomplete-container" class="aa-input-container"></div>
          <input type="hidden" name="invoice-id" id="invoice-id-autocomplete">
          </div>

          <!-- Financial month filter -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="financial-month">Financial month</label>
            <select class="nhsuk-select" id="financial-month" name="financial-month">
              <option value="">Select a month</option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <option value="Mar">March</option>
              <option value="Apr">April</option>
              <option value="May">May</option>
              <option value="Jun">June</option>
              <option value="Jul">July</option>
              <option value="Aug">August</option>
              <option value="Sep">September</option>
              <option value="Oct">October</option>
              <option value="Nov">November</option>
              <option value="Dec">December</option>
            </select>
          </div>

            <!-- Financial year filter -->
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="financial-year">Financial year</label>
              <select class="nhsuk-select" id="financial-year" name="financial-year">
                <option value="">Select a year</option>
                <option value="2021-22">2021–22</option>
                <option value="2022-23">2022–23</option>
                <option value="2023-24">2023–24</option>
              </select>
            </div>

            <!-- Region filter -->
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="region">Region</label>
              <select class="nhsuk-select" id="region" name="region">
                <option value="">Select a region</option>
                <option value="North East">North East</option>
                <option value="North West">North West</option>
                <option value="Midlands">Midlands</option>
                <option value="London">London</option>
                <option value="South East">South East</option>
                <option value="South West">South West</option>
              </select>
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="select-1">
                Fund type
              </label> <select class="nhsuk-select" id="select-1" name="select-1">
                <option value="1" selected>All</option>
                <option value="2" >CDF</option>
                <option value="3">IMF</option>
              </select>
            </div>

          </div>
          <br>
          <!-- Submit button -->
          <div class="nhsuk-form-group">
            <button class="nhsuk-button" type="submit">Apply</button>
          </div>

        </div>
      </details>

</details>

<div style="overflow-x:auto"> <!-- To keep the table on one page  -->
      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" class="nhsuk-table__header">Invoice ID</th>
            <th scope="col" class="nhsuk-table__header">Trust</th>
            <th scope="col" class="nhsuk-table__header">Date uploaded</th>
            <th scope="col" class="nhsuk-table__header">Financial month</th> <!-- Added column -->
            <th scope="col" class="nhsuk-table__header">Financial year</th> 
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Total value (£)</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Number of outstanding actions</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header"><a href="/invoices/example-invoice">​100425002</a></th>
            <td class="nhsuk-table__cell">Example NHS Foundation Trust</td>
            <td class="nhsuk-table__cell ">10/06/25</td>
            <td class="nhsuk-table__cell ">April</td>
            <td class="nhsuk-table__cell ">2025–26</td> <!-- Added cell -->
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4916.00</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">2</td>

          </tr>
          <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header"><a href="/invoices/example-invoice">070425001​</a></th>
            <td class="nhsuk-table__cel">Oxleas NHS Foundation Trust</td>
            <td class="nhsuk-table__cell">07/04/25</td>
            <td class="nhsuk-table__cell ">March</td>
            <td class="nhsuk-table__cell ">2025–26</td> <!-- Added cell -->
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">109342.32</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">31</td>          
          </tr>
          <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header"><a href="/invoices/example-invoice">​050325002</a></th>
            <td class="nhsuk-table__cell">Example NHS Foundation Trust​</td>
            <td class="nhsuk-table__cell">05/03/25</td>
            <td class="nhsuk-table__cell ">Jan</td>
            <td class="nhsuk-table__cell ">2024–25</td> <!-- Added cell -->
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">301232.12</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">27</td>
          </tr>
        </tbody>
      </table>
    </div>



    </div>
  </div>
{% endblock %}

{% block pageScripts %}

<script>

    const trustList = [
      "Barts Health NHS Trust",
      "Example NHS Foundation Trust",
      "Oxleas NHS Foundation Trust",
      "Guy's and St Thomas' NHS Foundation Trust",
      "University College London Hospitals NHS Foundation Trust",
      "Imperial College Healthcare NHS Trust",
      "Manchester University NHS Foundation Trust",
      "King's College Hospital NHS Foundation Trust",
      "Leeds Teaching Hospitals NHS Trust",
      "Oxford University Hospitals NHS Foundation Trust",
      "Sheffield Teaching Hospitals NHS Foundation Trust",
      "Nottingham University Hospitals NHS Trust",
      "Cambridge University Hospitals NHS Foundation Trust",
      "Newcastle upon Tyne Hospitals NHS Foundation Trust",
      "Birmingham Women's and Children's NHS Foundation Trust",
      "Royal Free London NHS Foundation Trust",
      "Great Ormond Street Hospital for Children NHS Foundation Trust",
      "East Suffolk and North Essex NHS Foundation Trust",
      "Mid and South Essex NHS Foundation Trust",
      "Northumbria Healthcare NHS Foundation Trust",
      "Frimley Health NHS Foundation Trust",
      "University Hospitals Bristol and Weston NHS Foundation Trust",
      "Liverpool University Hospitals NHS Foundation Trust",
      "Shrewsbury and Telford Hospital NHS Trust",
      "Portsmouth Hospitals University NHS Trust",
      "North Tees and Hartlepool NHS Foundation Trust",
      "Gloucestershire Hospitals NHS Foundation Trust"
      ];
    
    accessibleAutocomplete({
      element: document.querySelector('#trust-autocomplete-container'),
      id: 'trust-autocomplete',
      name: 'trust',
      source: trustList,
      minLength: 1,
      autoselect: true,
      confirmOnBlur: false,
      displayMenu: 'overlay'
    });

    const invoiceIdList = [
  "100425002",
  "070425001",
  "050325002"
    ];

    accessibleAutocomplete({
  element: document.querySelector('#invoice-id-autocomplete-container'),
  id: 'invoice-id-autocomplete',
  name: 'invoice-id',
  source: invoiceIdList,
  minLength: 1,
  autoselect: true,
  confirmOnBlur: false,
  displayMenu: 'overlay'
});
</script>

{% endblock %}
