<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
  <div class="nhsuk-back-link"> <a class="nhsuk-back-link__link" href="/patients/example-id/select-form-type">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Change form type</a>
  </div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <span class="nhsuk-caption-xl">
        Create new approval request for Jeremy Dalston
      </span>
      <h1 class="nhsuk-heading-xl">
        Complete approval request
      </h1>
      <hr>
  <form method="post" action="/patients/example-id">
    <p>M4C – NHS England V1.5 – Initial Funding Application - Dupilumab for treating severe asthma with type 2 inflammation in children aged 6-11 years (in relation to TA751)</p>

    <h2 class="nhsuk-heading-s">Patient details</h2>
      
    <table class="nhsuk-table nhsuk-u-margin-bottom-3">
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">NHS number</td>
          <td class="nhsuk-table__cell">4857773456</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Initials</td>
          <td class="nhsuk-table__cell">JD</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">First name</td>
          <td class="nhsuk-table__cell">Jeremy</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Surname</td>
          <td class="nhsuk-table__cell">Dalston</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Date of birth</td>
          <td class="nhsuk-table__cell">12/03/1987</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Surgery</td>
          <td class="nhsuk-table__cell">(FRACTURE CLINIC) NORTH OOH-Y00082-NN1 5BD</td>
        </tr>
      </tbody>
    </table>

      {{ details({
        text: "What should I do if these details are incorrect?",
        html: "
          <p>This page shows the demographic details linked to this patient's NHS number.</p>
          <p>If anything looks incorrect, you can update these details through the <a href='https://digital.nhs.uk/services/personal-demographics-service'>Personal Demographics Service (PDS)</a>.</p>
        "
      }) }}

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="hospital-number">Hospital number</label>
      <div class="nhsuk-hint" id="nhs-hint">
        A unique patient identifier used within this hospital or NHS Trust. Enter it exactly as provided on the patient’s documentation.
      </div>

      <input class="nhsuk-input nhsuk-input--width-10" id="hospital-number" name="hospital-number" type="text">
    </div>

    <br>
    <br>
    <h2 class="nhsuk-heading-s">Treatment details</h2>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="consultant-name">
        Start typing the name of the consultant:
      </label>
      <div id="consultant-autocomplete-container" class="aa-input-container"></div>
      <input type="hidden" name="consultant-name" id="consultant-autocomplete">
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="dob">
        <b>Expected treatment start date</b>
      </label>
      <div class="nhsuk-date-input" id="dob">
        <div class="nhsuk-date-input__item" >
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dob-day">Day</label>
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="dob-day"
              name="dob-day"
              type="text"
              pattern="\d{2}"
              inputmode="numeric"
              value="12"
            />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dob-month">Month</label>
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="dob-month"
              name="dob-month"
              type="text"
              pattern="\d{2}"
              inputmode="numeric"
              value="03"
            />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dob-year">Year</label>
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
              id="dob-year"
              name="dob-year"
              type="text"
              pattern="\d{4}"
              inputmode="numeric"
              value="1987"
            />
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <h2 class="nhsuk-heading-s">Please indicate whether patient meets the following criteria</h2>

    <!-- Question 1 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          1. I confirm the patient is aged 6–11 years with severe asthma with type 2 inflammation and the decision to commence a trial of dupilumab has been made by a paediatric severe asthma MDT within a specialised paediatric respiratory service.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q1-yes" name="q1" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q1-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q1-no" name="q1" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q1-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <label class="nhsuk-label" for="specialist-centre">
      Please choose the correct specialist centre
    </label>
    <select class="nhsuk-select" id="specialist-centre" name="specialist-centre">
      <option value="">Please select</option>
      <option value="alder-hey">Alder Hey Children's NHS FT</option>
      <option value="barts">Barts Health NHS FT</option>
      <option value="birmingham">Birmingham Women's and Children NHS FT</option>
      <option value="brighton">Brighton and Sussex University Hospitals NHS FT</option>
      <option value="bristol">Bristol Children’s Hospital</option>
      <option value="cambridge">Cambridge University Hospitals NHS FT</option>
      <option value="gosh">Great Ormond Street Hospital NHS FT</option>
      <option value="gstt">Guy’s and St Thomas' NHS FT</option>
      <option value="imperial">Imperial College Healthcare NHS Trust</option>
      <option value="kings">King's College Hospital NHS FT</option>
      <option value="leeds">Leeds Teaching Hospitals NHS Trust</option>
      <option value="manchester-nmgh">Manchester University Hospitals NHS FT (NMGH)</option>
      <option value="manchester-wythenshawe">Manchester University Hospitals NHS FT (Wythenshawe)</option>
      <option value="nottingham">Nottingham University Hospitals NHS Trust</option>
      <option value="oxford">Oxford University Hospitals NHS Trust</option>
      <option value="rbh">Royal Brompton and Harefield NHS FT</option>
      <option value="sheffield">Sheffield Children's NHS FT</option>
      <option value="south-tees">South Tees Hospitals NHS FT</option>
      <option value="newcastle">The Newcastle Upon Tyne Hospitals NHS FT</option>
    </select>
    <br><br>

    <!-- Question 2 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          2. I confirm that <strong>dupilumab</strong> is to be used in combination with optimised standard therapy (defined as a full trial of and, if tolerated, documented adherence with moderate to high dose ICS and additional controller medications, with no maintenance oral corticosteroids for their asthma).
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q2-yes" name="q2" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q2-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q2-no" name="q2" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q2-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 3 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          3. I confirm that medicine adherence has been confirmed by one or more of: a) prescription refill checks, b) monitoring through a smart inhaler or c) FeNO suppression test using directly observed inhaled corticosteroids.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q3-yes" name="q3" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q3-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q3-no" name="q3" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q3-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 4 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          4. I confirm that the patient has a blood eosinophil count of 150 cells per microlitre or more in the 12 months before starting this or a previous asthma biologic therapy.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q4-yes" name="q4" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q4-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q4-no" name="q4" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q4-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 5 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          5. I confirm that the patient has had 4 or more exacerbations requiring systemic corticosteroids in the 12 months before starting this or a previous asthma biologic therapy.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q5-yes" name="q5" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q5-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q5-no" name="q5" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q5-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 6 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          6. I confirm that the patient has a fractional exhaled nitric oxide of 25 parts per billion or more in the previous 12 months.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q6-yes" name="q6" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q6-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q6-no" name="q6" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q6-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 7 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          7. I confirm that the patient is not eligible for, or has not tolerated mepolizumab or has asthma that has not responded adequately to mepolizumab.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q7-yes" name="q7" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q7-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q7-no" name="q7" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q7-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 8 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          8. I confirm the patient will be reviewed for response and the patient has been informed <strong>dupilumab</strong> will only be continued if there is an improvement in overall asthma control and at least a 50% reduction in rate of severe exacerbations requiring treatment with systemic corticosteroids use after 12 months.
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q8-yes" name="q8" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q8-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q8-no" name="q8" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q8-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 9 -->
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          9. I confirm the patient will receive treatment at a dose and frequency in line with the marketing authorisation but not exceeding the maximum (or its equivalent) described by NICE (400mg initially then 200mg every other week).
        </legend>
        <div class="nhsuk-radios nhsuk-radios--inline">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q9-yes" name="q9" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="q9-yes">Yes</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="q9-no" name="q9" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="q9-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>


    <button class="nhsuk-button nhsuk-button--secondary inline-form" data-module="nhsuk-button" type="submit">
      Submit request
    </button>
    <button class="nhsuk-button nhsuk-button--secondary inline-form" data-module="nhsuk-button" type="submit">
      Save as incomplete draft
    </button>
    <button class="nhsuk-button nhsuk-button--secondary inline-form" data-module="nhsuk-button" type="submit">
      Save as draft for review
    </button>


  
  </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}

<script>

    /* auto-populate with today's date */
    document.addEventListener("DOMContentLoaded", () => {
      const today = new Date();
      const day = String(today.getDate()).padStart(2, '0');
      const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based
      const year = today.getFullYear();

      document.getElementById("dob-day").value = day;
      document.getElementById("dob-month").value = month;
      document.getElementById("dob-year").value = year;
    });


    const consultantList = [
      "Abigail Turner (abigail.turner@nhs.net)",
      "Benjamin Clarke (benjamin.clarke@nhs.net)",
      "Charlotte Ahmed (charlotte.ahmed@nhs.net)",
      "David Kaur (david.kaur@nhs.net)",
      "Emily Wright (emily.wright@nhs.net)",
      "Farah Hussain (farah.hussain@nhs.net)",
      "George Patel (george.patel@nhs.net)",
      "Hannah Doyle (hannah.doyle@nhs.net)",
      "Imran Shah (imran.shah@nhs.net)",
      "Jessica Morgan (jessica.morgan@nhs.net)",
      "Katherine Lowe (katherine.lowe@nhs.net)",
      "Laura Bennett (laura.bennett@nhs.net)",
      "Mohammed Ali (mohammed.ali@nhs.net)",
      "Natasha Gill (natasha.gill@nhs.net)",
      "Olivia Mason (olivia.mason@nhs.net)",
      "Paul Richards (paul.richards@nhs.net)",
      "Qasim Riaz (qasim.riaz@nhs.net)",
      "Ruth O'Neill (ruth.oneill@nhs.net)",
      "Samantha Evans (samantha.evans@nhs.net)",
      "Samuel Green (samuel.green@nhs.net)",
      "Sarah Thompson (sarah.thompson@nhs.net)",
      "Thomas Reed (thomas.reed@nhs.net)",
      "Umair Khan (umair.khan@nhs.net)",
      "Victoria Bell (victoria.bell@nhs.net)",
      "William Joyce (william.joyce@nhs.net)",
      "Xavier Hall (xavier.hall@nhs.net)",
      "Yasmin Carter (yasmin.carter@nhs.net)",
      "Zoe Anderson (zoe.anderson@nhs.net)"
    ];

    accessibleAutocomplete({
      element: document.querySelector('#consultant-autocomplete-container'),
      id: 'consultant-autocomplete',
      name: 'consultant',
      source: consultantList,
      minLength: 1,
      autoselect: true,
      confirmOnBlur: false,
      displayMenu: 'overlay'
    });
</script>

{% endblock %}
