<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Patient notes - Jeremy Dalston
      </h1>
      <h2 class="nhsuk-heading-m">Patient details</h2>
      
      <form method="post" action="/patients/add/details">
        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
          Edit patient details
        </button>
      </form>

      {{ table({
        panel: false,
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: "NHS number"
            },
            {
              text: "4857773456"
            }
          ],
          [
            {
              text: "Initials"
            },
            {
              text: "JD"
            }
          ],
          [
            {
              text: "First name"
            },
            {
              text: "Jeremy"
            }
          ],
          [
            {
              text: "Surname"
            },
            {
              text: "Dalston"
            }
          ],
          [
            {
              text: "Date of birth"
            },
            {
              text: "12/03/1987"
            }
          ],
          [
            {
              text: "Surgery"
            },
            {
              text: "12/03/1987"
            }
          ]
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Action notes</h2>
      <form method="post" action="/patients/example-id/confirm-gp" class="inline-btn">
        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
          New request
        </button>
      </form>
      <button class="nhsuk-button nhsuk-button--secondary inline-btn" data-module="nhsuk-button" type="submit">
          Upload docs
      </button>
      <button class="nhsuk-button nhsuk-button--secondary inline-btn" data-module="nhsuk-button" type="submit">
          End of treatment
      </button>




      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Date"
          },
          {
            text: "Description"
          }
        ]
      }) }}





    </div>
  </div>
{% endblock %}
