<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <span class="nhsuk-caption-xl">
        Add new patient
      </span>
      <h1 class="nhsuk-heading-xl">
        Please enter the patient's NHS number
      </h1>
  <form method="post" action="/patients/add/details">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="nhs-number">
        NHS number
      </label>
      <input
        class="nhsuk-input nhsuk-input--width-10"
        id="nhs-number"
        name="nhsNumber"
        type="text"
        pattern="\d{10}"
        inputmode="numeric"
        aria-describedby="nhs-number-hint"
        autocomplete="off"
        required
      />
    </div>

    <button class="nhsuk-button" type="submit">
      Continue
    </button>

  </form>



    </div>
  </div>
{% endblock %}
