<!-- Extends the layout from /app/views/layout.html -->Add commentMore actions
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Manage patients
      </h1>
      
      <form method="post" action="/patients/add/nhs-number">
        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
          Add new patient
        </button>
      </form>

    </div>
  </div>
{% endblock %}Add comment