{% extends "layout.html" %}

{% block pageTitle %}
  Home – Prior approval service
{% endblock %}

{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="main-content">
    <h1 class="nhsuk-heading-xl">What would you like to do?</h1>

    <p class="nhsuk-body">Choose one of the options below to begin a task. </p>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/patients">Manage patients</a>
            </h2>
            <p class="nhsuk-card__description">Create approval requests, add new patients, or manage patient data requests.</p>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/forms">Access forms</a>
            </h2>
            <p class="nhsuk-card__description">View all prior approval forms available on the system</p>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/reporting">Run reports</a>
            </h2>
            <p class="nhsuk-card__description">Generate new reports or view outcomes and saved reports.</p>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/invoices">Manage invoices (3)</a>
            </h2>
            <p class="nhsuk-card__description">View unpaid and paid invoices submitted for approval.</p>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/account">Account settings</a>
            </h2>
            <p class="nhsuk-card__description">Manage your account, users and role settings.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
