{% extends "layout.html" %}
{% block pageTitle %}
  Help and support - Prior Approvals System - NHS
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        Prior Approvals System: Help and support
      </h1>
      <p class="nhsuk-body">
        Find help and guidance on using the Prior Approvals System to request permissions for high-cost drugs.
      </p>
      <p class="nhsuk-body">
        You can search for help, browse topics below, or find out how to contact us if you need more support.
      </p>
      {# Key help categories will be structured below in Stage 2 #}
      {# For example:
         - Getting started with the Prior Approvals System
         - How to submit a prior approval request
         - Checking the status of your request
         - Troubleshooting common issues
         - Contacting support
      #}
    </div>
  </div>
{% endblock %}
