<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}


<!-- Set the page title -->
<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Patient notes - Jeremy Dalston
      </h1>
      <h2 class="nhsuk-heading-m">Patient details</h2>
      
      {{ table({
        panel: false,
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: "NHS number"
            },
            {
              text: "4857773456"
            }
          ],
          [
            {
              text: "Initials"
            },
            {
              text: "JD"
            }
          ],
          [
            {
              text: "First name"
            },
            {
              text: "Jeremy"
            }
          ],
          [
            {
              text: "Surname"
            },
            {
              text: "Dalston"
            }
          ],
          [
            {
              text: "Date of birth"
            },
            {
              text: "12/03/1987"
            }
          ],
          [
            {
              text: "GP surgery"
            },
            {
              text: "(FRACTURE CLINIC) NORTH OOH-Y00082-NN1 5BD"
            }
          ]
        ]
      }) }}

      {{ details({
        text: "What should I do if these details are incorrect?",
        html: "
          <p>This page shows the demographic details linked to this patient's NHS number.</p>
          <p>If anything looks incorrect, you can update these details through the <a href='https://digital.nhs.uk/services/personal-demographics-service'>Personal Demographics Service (PDS)</a> or contact your trust administration.</p>
        "
      }) }}


      <h2 class="nhsuk-heading-m">Request history</h2>
      <form method="post" action="/patients/example-id/select-request-type" class="inline-btn">
        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
          New request
        </button>
      </form>
      <button class="nhsuk-button nhsuk-button--secondary inline-btn" data-module="nhsuk-button" type="submit">
          Upload docs
      </button>
      <button class="nhsuk-button nhsuk-button--secondary inline-btn" data-module="nhsuk-button" type="submit">
          New comment
      </button>
      <button class="nhsuk-button nhsuk-button--secondary inline-btn" data-module="nhsuk-button" type="submit">
          End of treatment
      </button>

      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" class="nhsuk-table__header">ID</th>
            <th scope="col" class="nhsuk-table__header">Date</th>
            <th scope="col" class="nhsuk-table__header">Description</th>
            <th scope="col" class="nhsuk-table__header">Actions</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">aosdi-oais-aspo</a></td>
            <td class="nhsuk-table__cell">10/06/2025</td>
            <td class="nhsuk-table__cell">
              Prior approval request <br>
              Drug: Pembrolizumab <br>
              Consultant: Emily Wright <br>
              Status: Submitted, pending approval
            </td>
            <td class="nhsuk-table__cell">
              <a href="">View details</a><br>
              <a href="">Edit</a><br>
              <a href="example-treatment-break/request-id/break">Request treatment break</a><br>
              <a href="">Request continuation</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
